
@import url(https://fonts.googleapis.com/css?family=Denk+One);

/* Main Body & Static Graphics */

input:focus::placeholder {
  color: transparent;
}

body {
  background-color: lightgrey;
  font-family: 'Denk One', sans-serif;
  text-shadow: 2x 2x 5px rgba(0,0,0,0.5);
  color: black;
}

h1 {
  font-size: 4em;
  margin: 40px;
  padding-top: 25px;
}

h3 {
  font-size: 2.5em;
  margin-top: 20px;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

#app {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1.0px;
  border-radius: 20%;
  box-shadow: 0 4px 8px;
  background-color: azure;
}

#author {
    font-size: 20px;
    font-family: Florence, cursive;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 25px;
}

#fullstack {
    display: inline;
    width: 240px;
    height: auto;
    position: absolute;
    bottom: 2px;
    left: 8px;
}

#github {
    display: inline;
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 18px;
    right: 160px;
}

/* Inputs, Buttons, & Guesses */

.guess {
  display: inline;
  font-size: 50px;
  border: 2px solid black;
  border-radius: 20%;
  padding: 5px 15px;
  margin: 40px 25px;
  box-shadow: 0 4px 8px;
  background-color: white;
}

#guess-list {
  margin: 65px;
}

#menu-btns {
  width: 160px;
  margin: 35px auto 50px;
  position: relative;
}

#input {
  opacity: 1;
  color: black;
  border: 2px solid white;
  border-radius: 50%;
  width: 145px;
  height: 145px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 4px 8px;
  background-color: white;
}

#submit-guess-btn {
  border-radius: 50%;
  border: 3px outset black;
  background-color: forestgreen;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 22px;
  left: 175px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px;
}

#reset-btn {
  border-radius: 20%;
  border: 3px outset black;
  background-color: lightblue;
  width: 90px;
  height: 70px;
  position: absolute;
  top: 4px;
  right: 185px;
  font-size: 20px;
  box-shadow: 0 4px 8px;
}

#hint-btn {
  border-radius: 20%;
  border: 3px outset black;
  background-color: lightcoral;
  width: 90px;
  height: 70px;
  position: absolute;
  top: 100px;
  right: 185px;
  font-size: 20px;
  box-shadow: 0 4px 8px;
}